body {
  padding-bottom: 100px;
}

#profile-anchor {
  margin-bottom: 70px;
}

#profile-photo {
  border-radius: 50%;
  width: 100%;
}

#horizontal-divider {
  width: 100%;
  border: 1px solid #90BAE0;
}

.panel-separator {
  margin-top: 60px;
}

.outter-thumb {
  display: table;
  height: 200px;
  width: 100%;
}

.inner-thumb {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.thumb {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.thumbnail {
  flex-grow: 1;
}

div.contact {
  text-align: center;
  font-size: 2.75em;
}

div.contact a {
  text-decoration: none;
}

.caption h3 a {
  text-decoration: none;
}

/* Media queries */
@media (max-width: 767px) {
  /* CELL PHONES */
  #profile-name {
    text-align: center;
  }
}

@media (min-width: 768px) {
  /* TABLETS, NOTEBOOKS, MONITORS */
  #profile-name {
    text-align: left;
  }

  /* Row with equal height columns */
  .row-eq-height,
  .row-eq-height div[class|='col'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
